<div>
    <h1>Tu perfil (sin datos sensibles)</h1>    <button onclick="home()"> HOME</button>
    {{texto}}
    <p>ROL: {{user.role}}</p>
    <p>NAME:  {{user.name}}</p>
    <p>MAIL: {{user.email}}</p>
    <p>EDAD: {{user.age}}</p>
    <a href="/logout"><button>Salir</button></a>
</div>


<script src="/js/web.js"></script>
